@model Dictionary<string, List<(string Word, int Frequency)>>

<h2>Частотні словники</h2>

@foreach (var dictionary in Model)
{
    <h3>Файл: @dictionary.Key</h3>
    <table>
        <thead>
            <tr>
                <th>Слово</th>
                <th>Частота</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in dictionary.Value)
            {
                <tr>
                    <td>@entry.Word</td>
                    <td>@entry.Frequency</td>
                </tr>
            }
        </tbody>
    </table>
}
<a href="/Home/Index">Назад</a>
